<h1>Danh Sách Người Dùng</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Ngày Tạo</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email_address %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
